@font-face {
  font-family: 'MyFont';
  src:  url('./fa-brands-400.woff') format('woff'),
        url('./fa-regular-400.woff') format('woff'),
        url('./fa-solid-900.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

.hello {
  color: red;
  font-family: 'MyFont';
  background: url('./icon.png');
}
